label {
	float: right;
	display: block;
	text-align: right;
	width: 120px;
	padding-right: 5px;
	}

video, embed{
	float: right;
	padding-left: 20px;
	}
body { background-color: #333;
       color: #eaeaea; }
	   
#gallery {
	position: relative;
	height:200px;
	color: black;
	text-align: left;
	}

#gallery ul {
	list-style-type: none;
    width: 300px; 
	}

#gallery li { 
	display: inline; 
    float: left;
	padding: 10px; 
	}

#gallery img { 
	border: 0 none #ffffff;
	}

#gallery a { 
	text-decoration: none;
    font-style: italic;  
    color: #333333; 
	}

#gallery span {
	position: absolute;
    left: -1000px;
    opacity: 0;
    transition:  opacity 3s ease-in-out; 
	}

#gallery a:hover span {     
	position: absolute;
	top: 16px;
	left: 320px; 
	text-align: center; 
    opacity: 1; 
	}

figure {    
	position: absolute;
	left: 280px; 
	text-align: center; 
    opacity: .25;
	}

input, textarea {
	display: block;
	margin-bottom: 20px;
	}

input[type="submit"]{
	margin-left: 130px;
	}
	
body {
    background-color: #4f6d93; 
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #ffffff, #4f6d93);
    background-repeat: no-repeat;
	}

header{
	background-color: #000033;
	color: #FFFFFF;
	background-image:url(sunset.jpg);
	background-position: right;
	background-repeat: no-repeat;
	height: 60px;
	text-align: center;
	padding-top: 15px;
	}
	
nav{
	font-weight: bold;
	padding: 20px;
	float: left;
	width: 160px;
	}
	
nav ul{
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	font-size: 1.2em;
	}
	
nav a{ 
	text-decoration: none;
	transition: color 3s ease-out;
	}
nav a:link{ color:#000033;}
nav a:visited{ color: #344873;}
nav a:hover{ color: #ffffff;}
			
dt{
   color: #000033;
   }
	
.resort{
	   color: #5C7FA3;
	   font-weight: bold;
	   }
	   
h1{
	margin-bottom: 0;
	font-family: Georgia, "Times New Roman", serif;
	margin-top: 0;
	
	}
	
h3{
	font-family: Georgia, "Times New Roman", serif;
	color: black;
	}

main ul{
	list-style-image:url(marker.gif);
	}
	


footer{
	font-size: 75%;
	font-style: italic;
	text-align: center;
	font-family: Georgia, "Times New Roman", serif;
	padding: 20px;
	margin-left: 190px;
	background-color: #669933;
	clear: both; 
		}
		
#contact{
		font-size: 90%;
		}
		
#wrapper{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #90c7e3;
	min-width: 960px;
	max-width: 2048px;
	box-shadow: 3px 3px 3px #333333;
		}
		
main{
	padding: 1px 20px 20px 30px;
	display: block;
	background-color: #ffffff;
	margin-left: 190px;
	}
	
h2{
	text-shadow: 1px 1px 1px #cccccc;
	font-family: Georgia, "Times New Roman", serif;
	color: #3399CC;
	}
	
#homehero{
		height: 300px;
		background-image: url(coasthero.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		margin-left: 190px;
		}
	
#yurthero{
		height: 300px;
		background-image: url(yurthero.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		margin-left: 190px;
		}
		
#trailhero{
		height: 300px;
		background-image: url(trailhero.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		margin-left: 190px;
		}
		
header, main, nav, footer, figure, figcaption, aside, section, article{
	display: block;
	}
	
#mobile{
	display: none;
	}
	
#desktop{
	display: inline;
	}

table{
	border: 1px solid #3399CC;
	width: 80%;
	border-spacing: 0;
	}
	
td, th{
	padding: 5px;
	border: 1px solid #3399CC;
	}
	
td{
	text-align: center;
	}
	
.text{
	text-align: left;
	}
	
tr:nth-of-type(odd){
	background-color: #BDDFF0;
	}
	
@media only screen and (max-width: 64em){
body{
	margin: 0;
	background-color: #ffffff;
	}
	
#wrapper{
	min-width: 0;
	width: auto;
	box-shadow: none;
}

main{
	margin-left: 0;
}

nav{
	float: none;
	width: auto;
	text-align: center;
	padding: 0.5em;
	}
	
nav li{
	display: inline;
	padding: 0.25em 0.75em;
	}
	
#homehero, #yurthero, #trailhero{
	margin-left: 0;
	height: 200px;
	}
	
footer{
	margin-left: 0;
	}
}
	
@media only screen and (max-width: 37.5em){
header{
	padding-top: 1em;
	}
	
main{
	padding: 0.1em 1em;
	font-size: 90%;
	}
label{
	float: none;
	text-align: left;
		}
		
input[type="submit"]{
	margin-left: 0;
	}
	

h1{
	font-size: 1.5em;
	}
	
nav{
	padding: 0;
	}

nav li{
	display: block;
	margin: 0;
	border-bottom: 2px solid #330000;
	}
	
nav a{
	display: block;
	}
	
#homehero, #yurthero, #trailhero{
	background-image: none;
	height: 0;
	}
	
#mobile{
	display: inline;
	}
	
#desktop{
	display: none;
	}
	
#gallery{
	display: none;
	}
}
